#about-section {
  background-color: #fff;
  position: relative;
  margin: 50px
}

.blockabout {
  padding: 20px;
  background: white;
}

.blockabout-inner {
  padding: 30px;
  border: 1px solid rgba(32, 33, 36, 0.1);
}

.sosmed-horizontal a i {
  border: 1px solid #070707;
  border-radius: 50%;
  color: #070707;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin: auto 3px;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s;
}

.imagebox{
  display: flex;
  justify-content: center;
}

.potoaboutwrap{
width: 300px;
padding: 30px;
}

.imagepotoaboutwrap{
  border-radius: 20px;
}


@media (max-width: 1199.98px) {
  #about-section {
    width: 350px; 
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
  } 
  .potoaboutwrap{
    width: auto;
    padding: 25px;
  }
}