.user-infos{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 10px 20px 10px;
background-color: #fafafa;
border-radius: 10px;
/* width: 50%; */
/* margin-left: 25%; */
}

.user-card {
  border-radius: 10000px;
  border: 1.5px solid rgb(255, 255, 255);
  width: 58px;
  height: 58px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-name{
  display: flex;
  align-items: center;
  padding-left: 30px;
}


.user-name {
  /* z-index: 1; */
  /* border-radius: 3px; */
  font-size: 1.2em;
  min-width: 30px;
  max-width: 300px;
  padding: 5px;
  margin: 0 3px;
  /* position: absolute; */
  
  
}