#carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@media (max-width:920px) {
  #carousel-item {
    height: 5vh;
  min-height: 200px;
  }
}