@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
background-color: #ffe8d2;
font-family: 'Montserrat', sans-serif
}
.card-checkout {
border: none
}
.logo-checkout {
background-color: #eeeeeea8
}
.totals tr td {
font-size: 13px
}
.footer-checkout {
background-color: #eeeeeea8
}
.footer-checkout span {
font-size: 12px
}
.product-qty span {
font-size: 12px;
color: #dedbdb
}