@font-face {
  font-family: "Muli-Regular";
  src: url("../Products/fonts/Muli-Bold.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../Products/fonts/Muli-SemiBold.ttf"); }
@font-face {
  font-family: "Muli-Bold";
  src: url("../Products/fonts/Muli-Bold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.register-label {
  font-family: "Muli-Regular";
  color: #666;
  font-size: 16px;
  margin: 0; }


p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

:focus {
  outline: none; }

.register-wrapper {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  background: url("../SignupPage/images/bg-registration-form-2.jpg") no-repeat center;
  }

.register-inner {
  min-width: 850px;
  margin: auto;
  padding-top: 68px;
  padding-bottom: 48px;
  background: url("../Products/images/registration-form-2.jpg"); }
  .register-inner h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Muli-Bold";
    text-align: center;
    margin-bottom: 32px;
    color: #333;
    letter-spacing: 2px; }

.register-form {
  width: 50%;
  padding-left: 45px; }

.register-form-group {
  display: flex; }
  .register-form-group .register-form-wrapper {
    width: 50%; }
    .register-form-group .register-form-wrapper:first-child {
      margin-right: 20px; }

.register-form-wrapper {
  margin-bottom: 17px; }
  .register-form-wrapper label {
    margin-bottom: 9px;
    display: block; }

.register-form-control {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: "Muli-Bold";
  background: none; }
  .register-form-control:focus {
    border: 1px solid #ae3c33; }

.register-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px; }
  .register-select option[value=""][disabled] {
    display: none; }

.register-btn {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ae3c33;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  border-radius: 20px;
  overflow: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .register-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f11a09;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .register-btn:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }

@media (max-width: 991px) {
  .register-inner {
    min-width: 768px; } }
@media (max-width: 767px) {
  .register-inner {
    min-width: auto;
    background: none;
    padding-top: 0;
    padding-bottom: 0; }

  .register-form {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; } }
