.dropdown-toggle::after {
  display: none;
  color:#f8f6f6;
}

.color-nav{
background-color: #fff;
}

.sell-btn {
  letter-spacing: 2px;
  border: none;
  width: 123px;
  height: 40px;
  margin-right: 19px;
  border-radius: 23.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #d74f23;
  font-size: 15px;
  margin-right: 0;
  color: #fff;
  font-family: "Montserrat-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.nav-icon{
  font-size: 1.5em;
  padding-right: 1px;
}


@media (max-width: 990px) {
  #basic-navbar-nav{
  padding-left: 70px;
  }
}